@font-face {
  font-family: 'crystal-pokefk';
  font-smooth: none;
  font-style: normal;
  font-weight: normal;
  src: url('/src/typeface/crystal-pokefk-v4-1.ttf') format('truetype');
}

* {
  font-family: 'crystal-pokefk' !important;
}

img.gb_uc + span {
  top: -5px;
}

.google-material-icons,
.material-icons-extended  {
  /* display: none !important; */
  opacity: 0 !important;
  width: 0 !important;
}

.__game-boy-meet__canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.__game-boy-meet__canvas + video[autoplay][data-uid] {
  display: none;
}
